/* Confirm Dialog */

@import "colors.rasi"
@import "~/.config/rofi/global.rasi"

* {
    background-color:       @bg;
    text-color:             @fg;
}

window {
    width:      			235px;
    padding:    			25px;
    border:					1px;
    border-radius:          0px;
    border-color:           @ac;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
